{% extends 'base.html' %}

{% block head %}
    <title>Aplikacja</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Check known frontend libraries vulnerabilities used in web application </h1>
        <div class="task">
            <p>Which website would you like to check?</p>
        </div>
        <form action="/" method="POST">
            <input type="text" class=input name="content" id="content"
                   value="Please paste a link here (for example https://www.filimo.com/)">
            <input type="submit" value="Check this website" class="button">
        </form>
    </div>
    {% if libraries|length >= 1 %}
        <div class="task">
            <p>Libraries found on this website:</p>
            <p>{{ libraries }}</p>
        <i class='fas fa-check'></i>
        </div>
        <div class="task">
            <a href="/vulnerabilities">Check vulnerabilities for this libraries</a>
        </div>
        </div>
    {% endif %}
    </div>
{% endblock %}