[<div id="TableWithRules">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<thead>
<tr>
<th style="padding:3px" valign="top">Name</th>
<th style="padding:3px" valign="top">Description</th>
</tr>
</thead>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2021-24729">CVE-2021-24729</a></td>
<td valign="top">The Logo Showcase with Slick Slider WordPress plugin before 1.2.4 does not sanitise the Grid Settings, which could allow users with a role as low as Author to perform stored Cross-Site Scripting attacks via post metadata of Grid logo showcase.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2019-15867">CVE-2019-15867</a></td>
<td valign="top">The slick-popup plugin before 1.7.2 for WordPress has a hardcoded OmakPass13# password for the slickpopupteam account, after a Subscriber calls a certain AJAX action.

</td>
</tr>
</table>
</div>][<div id="TableWithRules">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<thead>
<tr>
<th style="padding:3px" valign="top">Name</th>
<th style="padding:3px" valign="top">Description</th>
</tr>
</thead>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2018-4198">CVE-2018-4198</a></td>
<td valign="top">An issue was discovered in certain Apple products. iOS before 11.4 is affected. macOS before 10.13.5 is affected. tvOS before 11.4 is affected. watchOS before 4.3.1 is affected. The issue involves the "UIKit" component. It allows remote attackers to cause a denial of service via a crafted text file.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2017-7113">CVE-2017-7113</a></td>
<td valign="top">An issue was discovered in certain Apple products. iOS before 11.1 is affected. The issue involves the "UIKit" component. It allows attackers to bypass intended read restrictions for secure text fields via vectors involving a focus-change event.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2016-4749">CVE-2016-4749</a></td>
<td valign="top">Printing UIKit in Apple iOS before 10 mishandles environment variables, which allows local users to discover cleartext AirPrint preview content by reading a temporary file.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2015-3758">CVE-2015-3758</a></td>
<td valign="top">UIKit WebView in Apple iOS before 8.4.1 allows attackers to bypass an intended user-confirmation requirement and initiate arbitrary FaceTime calls via an app that provides a crafted URL.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2015-1116">CVE-2015-1116</a></td>
<td valign="top">The UIKit View component in Apple iOS before 8.3 displays unblurred application snapshots in the Task Switcher, which makes it easier for physically proximate attackers to obtain sensitive information by reading the device screen.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2013-4616">CVE-2013-4616</a></td>
<td valign="top">The WifiPasswordController generateDefaultPassword method in Preferences in Apple iOS 6 and earlier relies on the UITextChecker suggestWordInLanguage method for selection of Wi-Fi hotspot WPA2 PSK passphrases, which makes it easier for remote attackers to obtain access via a brute-force attack that leverages the insufficient number of possible passphrases.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2012-3746">CVE-2012-3746</a></td>
<td valign="top">UIWebView in UIKit in Apple iOS before 6 does not properly use the Data Protection feature, which allows context-dependent attackers to obtain cleartext file content by leveraging direct access to a device's filesystem.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2011-3432">CVE-2011-3432</a></td>
<td valign="top">The UIKit Alerts component in Apple iOS before 5 allows remote attackers to cause a denial of service (device hang) via a long tel: URL that triggers a large size for the acceptance dialog.

</td>
</tr>
<tr>
<td nowrap="nowrap" valign="top"><a href="/cgi-bin/cvename.cgi?name=CVE-2009-2796">CVE-2009-2796</a></td>
<td valign="top">The UIKit component in Apple iPhone OS 3.0, and iPhone OS 3.0.1 for iPod touch, allows physically proximate attackers to discover a password by watching a user undo deletions of characters in the password.

</td>
</tr>
</table>
</div>]